.achievement {
  margin: auto;
  margin-top: 5vh;
  max-width: 100%;
  width: 50%;
  padding: 10px;
  border-radius: 9px;
  font-family: Roboto;
  background-color: rgb(162, 203, 248);
}

.background {
  padding: 15px;
}
