.skill {
    margin: auto;
    margin-top: 2vh;
    max-width: 30%;
    min-width: 30%;
    padding: 30px;
    border-radius: 9px;
    font-family: Roboto;
    box-shadow: 0 0 10px rgba(42, 38, 38, 0.8);
    background-color: rgb(237, 211, 95);
  }
  
  .description {
  margin: 10px;
  margin-top: 2vh;
  min-width: 50%;
  max-width: 50%;
  }
  
  .background {
    padding: 15px;
  }